<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="../src/resampler.js"></script>
		<script type="text/javascript" src="../src/recorderWorker.js"></script>
		<script type="text/javascript" src="../src/recorder.js"></script>
		<script type="text/javascript" src="../src/processors.js"></script>
		<script type="text/javascript" src="../src/vad.js"></script>
		<script type="text/javascript" src="../src/tts.js"></script>
		<script type="text/javascript" src="../src/api.ai.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function(){
			if(false){
				jQuery.ajax({
					method:"get"
					, url:"http://api.openweathermap.org/data/2.5/forecast"
					, data:{APPID:"bc3eddcd4507e4f3892c94de0192536d", q:"NewYork", mode:"json"}
				}).done(function(result){
					console.log(result);
				});
			}
			});
		</script>
		<h1>Head</h1>
	</head>

	<body>

		<h5>body</h5>

		<div>
			<span id="server"></span>
			<br/>
			<span id="token"></span>
			<br/>
		</div>
		<button type="button" onclick="app.open()">Open WebSocket</button>
		<button type="button" onclick="app.close()">Close WebSocket</button>

		<br/><br/>

		<button id="start" type="button" onclick="app.start()">Start</button>
		<button id="stop" type="button" onclick="app.stop()" class="hidden">Stop</button>
		or send json <input id="text" type="text"/>
		<button type="button" onclick="app.sendJson()">Send JSON</button>

		<br/><br/>

		<button id="clean" type="button" onclick="app.clean()">Clean dialogue</button>
		<div style="display: flex">
			<div id="dialogue" class="half-panel" style="white-space: pre-line;width: 50%"></div>
			<div id="response" class="half-panel" style="white-space: pre;width: 50%;"></div>
		</div>

	</body>
</html>
